<!DOCTYPE html>
<html>
<head>
    <title>Cat vs Dog Classifier</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Cat vs Dog Classifier</h1>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" required>
            <button type="submit" class="fancy-button">Upload and Predict</button>
        </form>

        {% if prediction %}
            <h2>Prediction: {{ prediction }}</h2>
        {% endif %}

        {% if image_path %}
            <h3>Uploaded Image:</h3>
            <img src="{{ image_path }}" alt="Uploaded Image">
            
        {% endif %}
    </div>
    <footer>
        Made with ❤️ by Susobhan Nandi
    </footer>
</body>
</html>
